body {
  background-image: url("../../../images/backgrounds/lockscreen/1.png");
  background-size: 100%;

}
iframe[seamless] {
  border: none;
}

/* Language: css */

/*@keyframes animatename {
  0% {
    transform: translateY(-800px);
    opacity: 0;
  }
  100% {
    transform: translateY(-90);
  }
}
*/

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  /*animation: animatename 2s ease-in-out infinite;    background: #438c8f;*/
}

.lc-profile-pic {
  width: 200px;
  height: 200px;
  background-image: url(../../../images/profile/profile1.jpg);

  border: solid 6px #fff;
  border-radius: 50%;
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.5);
  background-size: cover;
}

@font-face {
  font-family: "Capsule";
  font-style: normal;
  font-weight: normal;
  src: local("Tangerine"), url("../../../fonts/Capsule.ttf") format("truetype");
}

.lc-profile-name {
  font-family: "Capsule", serif;
  font-size: 20px;
  text-align: center;
  

  
}

input[type="password"] {
  position:absolute;
  width: 25%;
  height:30px;
  border:none;
  border-bottom: 2px solid fuchsia;
  background:black;
  opacity:50%;
  border-radius: 10px;
  color:white;
  font-size:20px;
  font-weight:lighter;
  left:38%;
  top:65%;
  transition: 2s ease-in;

  
}
input[type="submit"] {
  position:absolute;
  width:40px;
  height:32px;
  top:65%;
  left: 63.5%;
  border:none;
  border-radius:20%;
  background-color:black;
  opacity:50%;
  color:white;
  opacity:25%;
  font-size: 18px;
  
  
}
input[type="submit"]:hover{
  background-color: #fff;
  color:blueviolet;

  
}
#kwik-settings{
  top:90%;
  right:90%;
}
