body {
  background-image: url("../../../images/backgrounds/lockscreen/1.png");
  background-size: cover;
}
iframe[seamless] {
  border: none;
}

/* Language: css */

/*@keyframes animatename {
  0% {
    transform: translateY(-800px);
    opacity: 0;
  }
  100% {
    transform: translateY(-90);
  }
}
*/

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  /*animation: animatename 2s ease-in-out infinite;    background: #438c8f;*/
}

.lc-profile-pic {
  width: 250px;
  height: 250px;
  background-image: url(../../../images/profile/profile1.jpg);

  border: solid 6px #fff;
  border-radius: 50%;
  border-bottom-left-radius: 30px;
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.5);
  background-size: cover;
}

@font-face {
  font-family: "Capsule";
  font-style: normal;
  font-weight: normal;
  src: local("Tangerine"), url("../../../fonts/Capsule.ttf") format("truetype");
}

.lc-profile-name {
  transform: translate(-50%, -70%);
  font-family: "Capsule", serif;
  font-size: 20px;
}
